* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:calc(12px + 1vw);
}

.topo {
  background-color: #212121;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: white;
  text-decoration: none;
}

.logo:hover {
  color: white;
  text-decoration: none;
}

.navegacao {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

.navegacao li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.navegacao li a:hover {
  text-shadow: 0 0 10px #ffffff;
}

main {
  background-color: #313131;
  color: white;
  padding: 10px;
}

main h2 {
  text-align: center;
}

main .sub-title {
  text-align: center;
}

main .card {
  margin: 10px 0;
}

main .card ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

main .card ul li {
  max-width: 200px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(80, 80, 80);
  border-radius: 5px;
}

main .card ul li img {
  max-width: 100px;
  border-radius: 5px;
}


table {
  background-color: gainsboro;
  border-radius: 5px;
  padding: 3px;
}

.container-setinhas {
  display: inline-block;
  width: 20px;
  height: 40px;
  margin-left: 5px;
  vertical-align: middle;
}

.container-setinhas>div {
  cursor: pointer;
}

td {
  min-width: 100px;
  text-align: center;
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: grey;
  color: white;
}

tbody button {
  border: 0;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: red;
  cursor: pointer;
  transition: all 0.08s;
}

tbody button:hover {
  background-color: rgb(107, 0, 0);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #212121;
  color: white;
}