* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: calc(12px + 1vw);
  min-height: 100vh;
}

.App,
#root {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.topo {
  background-color: #212121;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: white;
  text-decoration: none;
}

.logo:hover {
  color: white;
  text-decoration: none;
}

.navegacao {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

.navegacao li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.navegacao li a:hover {
  text-shadow: 0 0 10px #ffffff;
}

.Principal {
  flex-grow: 1;
}

main {
  background-color: #313131;
  color: white;
  padding: 10px 10%;
}

main h2 {
  text-align: center;
}

main .sub-title {
  text-align: center;
}

main .card {
  margin: 10px 0;
}

main .card ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}

main .card ul li {
  max-width: 200px;
  min-width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(80, 80, 80);
  border-radius: 5px;
  font-size: calc(0.8vw + 10px);
}

main .card ul li img {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

/*------- BOTÃO FAVORITAR --------*/

.botao-coracao {
  position: relative;
  bottom: 0;
  right: 0;
  background-color: #21212142;
  color: #ff4d4d;
  border: 0;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 200%;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Estilo para o coração preenchido */
.botao-coracao.preenchido {
    background-color: rgba(255, 255, 255, 0.253);
    padding: 10px 15px;
    color: white;
    border-color: #ff4d4d;
}

.botao-coracao:hover {
  background-color: #ff4d4d;
  color: white;
}

.botao-coracao.preenchido:hover {
    background-color: white;
    padding: 10px 15px;
    color: white;
    border-color: #ff4d4d;
}

/*------- BOTÃO AVALIAR --------*/

.movie-actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.botao-review {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-review:hover {
    background-color: #218838;
}

/* ----------------- ECONTRAR FILMES -------------*/
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-group-genre-year {
  width: calc(50%);
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-search {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-search:hover {
    background-color: #0056b3;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #212121;
  color: white;
}